.outernDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weekday {
    width: 120px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

.dayButton {
    width: 70px;
    height: 40px;
    background-color: #4caf50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    border-radius: 6px;
}

.dayButton:hover {
    background-color: #357d38;
}