.date {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

.changeMonth,
.changeYear {
    background-color: #38963b;
    cursor: pointer;
    font-size: 30px;
    border: none;
    border-radius: 6px;
    padding: 0px 10px 0px 10px;
}
.changeYear {
    margin: 0px 10px 0px 10px;
}

.outernDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weekday {
    width: 120px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

.dayButton {
    width: 70px;
    height: 40px;
    background-color: #38963b;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-size: 22px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    border-radius: 6px;
}

.changeMonth:hover,
.changeYear:hover,
.dayButton:hover {
    background-color: #0e6a12;
}