.userInput {
    margin-bottom: 20px;
}

.dateInfo {
    font-size: 24px;
    margin-bottom: 20px;
}

.addTaskButton {
    margin-left: 16px; 
}

.saveButton {
    margin-top: 30px;
}

.addTaskButton,
.saveButton,
.changeDateButton {
  background-color: #5f6466; 
  color: white; 
  padding: 4px 10px 4px 10px; 
  font-size: 18px; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.addTaskButton:hover,
.saveButton:hover,
.changeDateButton:hover {
  background-color: #423f3f; 
}